[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = file:////Users/mariuslandwehr/Developer/macOS/Nimble
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = file:///Users/mariuslandwehr/Developer/macOS/Quick
[submodule "Carthage/Checkouts/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Carthage/Checkouts/ReactiveSwift"]
	path = Carthage/Checkouts/ReactiveSwift
	url = https://github.com/ReactiveCocoa/ReactiveSwift.git
